html{
	background: url(../image/login.jpeg) no-repeat center center fixed;
 	background-size: cover;
}

#index{
	background: url(../image/index.png) no-repeat center center fixed;
 	background-size: cover;
}

#opacity {
  background:rgba(77, 77, 77, .7);
}
#indexopacity{
	background:rgba(77, 77, 77, .7);
}

.orangeOpacity{
	background:rgba(255, 102, 0, .8);
}

#customerbtn:hover{
  background:rgba(255, 102, 0, 1);
}