<html id="index" lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Add Table</title>
	</head>
	<body>
		<div class="row" id="menuContainer" style="color:white; padding-right:20%; padding-left:20%;">
			<center><h1>Andies cousins Restraunte</h1></center>
			<table>
				<tr style="color:white;">
					<th>QR CODES</th>
					<th>Seat Numbers</th>
				</tr>
				<tr>
					<!-- These are QR Codes-->	
					<td style="vertical:align top;"><img style="height: 100px; width: 100px;" src="../image/qrCode.png"></td>
					<td style="color:white;">1</td>
				</tr>

				<tr>
					<!-- These are QR Codes-->	
					<td><img style="height: 100px; width: 100px; vertical-align: middle;" src="../image/qrCode.png"></td>
					<td style="color:white;">2</td>
				</tr>
				<tr>
					<!-- These are QR Codes-->	
					<td><img style="height: 100px; width: 100px; vertical-align: middle;" src="../image/qrCode.png"></td>
					<td style="color:white;">3</td>
				</tr>
				<tr>
					<!-- These are QR Codes-->	
					<td><img style="height: 100px; width: 100px; vertical-align: middle;" src="../image/qrCode.png"></td>
					<td style="color:white;">4</td>
				</tr>
				<tr>
					<!-- These are QR Codes-->	
					<td><img style="height: 100px; width: 100px; vertical-align: middle;" src="../image/qrCode.png"></td>
					<td style="color:white;">5</td>
				</tr>
			</table>

			<a href="#"><div style="padding-top:10%;" id="addFoodEntry"><center><img src="../image/moreOptions.png" height="35" width="35"></center></div></a>	
			<br>	
			<center><a><div class="btn orange darken-2">Submit</div></a></center>
		</div>
	</body>
</html>


				










				
