<html lang = "en" id="index">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body>
		<h1 class="center white-text" style="margin-top: 8%">Andies Cousin Restaurant</h1>
		<div class="row" id="menuContainer" style="color:white; padding-right:20%; padding-left:20%;">
			<table>
				<!--Header-->
				<tr class="white-text">
					<th >Item Name:</th>
					<th >Description:</th>
					<th >Price:</th>
				</tr>

				<!--Item-->
				<tr class="white-text">
					<td>Spaghetii</td>
					<td>Andies spaghetii dish is the best!</td>
					<td>$12.01</td>
					<th class="white-text"><div style="padding-top:10%;" id="addFoodEntry"><img src="../image/moreOptions.png" height="35" width="35"></div></th>
				</tr>

				<!--Item-->
				<tr class="white-text">
					<td>Rice</td>
					<td>Andies famouse rice dish!</td>
					<td>$10.00</td>
					<th class="white-text"><div style="padding-top:10%;" id="addFoodEntry"><img src="../image/moreOptions.png" height="35" width="35"></div></th>
				</tr>

				<!--Item-->
				<tr class="white-text">
					<td>Pho</td>
					<td>Andies famouse pho dish!</td>
					<td>$15.00</td>
					<th class="white-text"><div style="padding-top:10%;" id="addFoodEntry"><img src="../image/moreOptions.png" height="35" width="35"></div></th>
				</tr>
			</table>
		</div>
		<center><a><div class="btn orange darken-2">Submit</div></a></center>
		
	</body>
</html>