<html lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body>

	    <div class="container">
	    	<div id="opacity" class="card"  style="margin-top: 10%;">
	        	<div class="card-content white-text">
		          <div class = "container">
		            <h1 class="header center white-text title" >Fast Munch</h1>
		          </div>

		          <div class = "container param">
		            <input class="black-text" type="text" placeholder="Enter Username" name="uname" required>
		            <input class="black-text" type="password" placeholder="Enter Password" name="psw" required>
		            <div type="submit" class="waves-effect waves-light btn  orange darken-1"><a href="login.html" class="white-text"> Login </a></div>
		          </div>

		          <div class="container lost-info">
		            <input type="checkbox" id="i1" >
		            <label for="i1" style="margin-top:20px">Remember Me</label>
		            <p class="center"><a href="forgot_password.html" class="white-text">Forgot Password?</a></p>
		            <p style="margin-top:20px" class="center"><a href="forgot_username.html" class="white-text">Forgot Username?</a></p>
		          </div>
		        <br><br>
		    	</div>
		    </div>
	    </div>
	</body>
</html>