<html lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<style type="text/css" href="../style/style.css"></style>

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body class="bg">

		<img src="../image/login.jpeg" style="opacity:50%">
		<div class="row">
			<h1 class="center caption"> Fast Munch </h1>		  
	    	<input class="black-text" type="text" placeholder="Enter Username" name="uname" required>
	   	 	<input class="black-text" type="password" placeholder="Enter Password" name="psw" required>
	    	<div class="waves-effect waves-light btn orange darken-1" style="margin-left:30px;"><a href="login.html" class="white-text"> Login </a></div>
    	</div>
	</body>
</html>