<html id="index" lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body>
	    	<div id="opacity" class="card"  style="margin-top: 5%;">
	        	<div class="card-content white-text">
		          <div class = "container">
		            <h1 class="header center white-text title" >Register</h1>
		          </div>

		          <div class = "container param">
		            <input class="white-text" type="text" placeholder="Restaurant Name" name="uname" required>
		            <input class="white-text" type="text" placeholder="Restaurant ID" name="rID" required>
		            <input class="white-text" type="password" placeholder="Password" name="pass" required>
		            <input class="white-text" type="password" placeholder="Retype Password" name="rePass">
					<input class="white-text" type="text" placeholder="Address" name="addr">
					<input class="white-text" type="email" placeholder="Email Address" name="mail">
		            <div type="submit" class="waves-effect waves-light btn  orange darken-1"><a href="login.html" class="white-text"> Register </a></div>
		            <div type="submit" class="waves-effect waves-light btn  orange darken-1"><a href="login.html" class="white-text"> Login </a></div>
		          </div>
		        <br><br>
		    	</div>
		    </div>
	</body>
</html>