<html id="index" lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body>
		<div class="row" id="menuContainer" style="color:white; padding-right:20%; padding-left:20%;">
			<center><h1>Menu</h1></center>
			<h3 style="padding-top:8%;">Oh Basil</h3>
			<h4>1234 Killborne Ave, Ottawa, Ontario</h4>
			<table id="menuTable" style="color:white";>
				<tr>
					<th style="border-bottom: 6px solid #ffa500;">Item name</th>
					<th style="border-bottom: 6px solid #ffa500;">Description</th>
					<th style="border-bottom: 6px solid #ffa500;">Price</th>
					<th style="border-bottom: 6px solid #ffa500;">Edit</th>
				</tr>

				<tr>
					<td>Spaghetii</td>
					<td>Andies spaghetii dish is the best!</td>
					<td>$12.01</td>
					<td>
						<a class="modal-trigger white-text" href="#modalEditItem1">X</a>
					</td>
				</tr>
				
				<tr>
					<td>Rice</td>
					<td>Andies famouse rice dish!</td>
					<td>$10.00</td>
					<td>
						<a class="modal-trigger white-text" href="#modalEditItem2" >X</a>
					</td>
			</tr>
			<tr>
					<td>Pho</td>
					<td>Andies famouse pho dish!</td>
					<td>$15.00</td>
					<td>
						<a class="modal-trigger white-text" href="#modalEditItem3" >X</a>
					</td>
				</tr>
			</table>
			<a class="modal-trigger" href="#modalNewItem"><div style="padding-top:10%;" id="addFoodEntry"><center><img src="../image/moreOptions.png" height="35" width="35"></center></div></a>	

		</div>
		<center><a href="saveSucc.html"><div class="btn orange darken-2 waves-effect">Submit</div></a></center>

		<!-- Modal Structure -->
		<div id="modalNewItem" class="modal">
		    <div class="modal-content">
		      	<h4>New Menu Item</h4>
		      	<input type="text" name="itemName" placeholder="Name">
		      	<input type="text" name="itemDesc" placeholder="Description">
		      	<input type="text" name="itemPrice" placeholder="Price">
		    </div>
		    <div class="modal-footer">
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Submit</a>
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Cancel</a>
		    </div>
		</div>

		<!-- Modal Structure -->
		<div id="modalEditItem1" class="modal">
		    <div class="modal-content">
		      	<h4>Edit Menu Item</h4>
		      	<h5>Item Name:</h5>
		      	<input type="text" name="itemName" placeholder="Name" value="Spaghetii">
		      	<h5>Description:</h5>
		      	<input type="text" name="itemDesc" placeholder="Description" value="Andies spaghetii dish is the best!">
		      	<h5>Price:</h5>
		      	<input type="text" name="itemPrice" placeholder="Price" value="$12.01">
		    </div>
		    <div class="modal-footer">
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Submit</a>
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Cancel</a>
		    </div>
		</div>

				<!-- Modal Structure -->
		<div id="modalEditItem2" class="modal">
		    <div class="modal-content">
		      	<h4>Edit Menu Item</h4>
		      	<h5>Item Name:</h5>
		      	<input type="text" name="itemName" placeholder="Name" value="Rice">
		      	<h5>Description:</h5>
		      	<input type="text" name="itemDesc" placeholder="Description" value="Andies famouse rice dish!">
		      	<h5>Price:</h5>
		      	<input type="text" name="itemPrice" placeholder="Price" value="$10.00">
		    </div>
		    <div class="modal-footer">
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Submit</a>
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Cancel</a>
		    </div>
		</div>

				<!-- Modal Structure -->
		<div id="modalEditItem3" class="modal">
		    <div class="modal-content">
		      	<h4>Edit Menu Item</h4>
		      	<h5>Item Name:</h5>
		      	<input type="text" name="itemName" placeholder="Name" value="Pho">
		      	<h5>Description:</h5>
		      	<input type="text" name="itemDesc" placeholder="Description" value="Andies famouse pho dish!">
		      	<h5>Price:</h5>
		      	<input type="text" name="itemPrice" placeholder="Price" value="$15.00">
		    </div>
		    <div class="modal-footer">
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Submit</a>
		       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="textBoxBtn">Cancel</a>
		    </div>
		</div>
	</body>
</html>
