<html id="index" lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<!--Font-->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Itim" rel="stylesheet">

		<title>Fast Munch</title>
	</head>
	<body>
		<div class="container">
	    	<div id="opacity" class="card"  style="margin-top: 5%;">
	        	<div class="card-content white-text">
		          <div class = "container">
		            <h1 class="header center white-text title" >Payment</h1>
		          </div>

		          <div class = "container param">
		          	<center>
		            	<button class="btn orange darken-2 waves-effect">PayPal</button>
		            	<button class="btn orange darken-2 waves-effect">Credit Card</button>
		            	<button class="btn orange darken-2 waves-effect">Debit</button>
		        	</center>
		          </div>
		        <br><br>
		    	</div>
		    </div>
	    </div>
	</body>
</html>