<html lang = "en" id="index">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Fast Munch</title>
	</head>
	<body>
		<div class="row">
			<div class="center" style="padding-top: 150px">
				<img src="../image/checkmark.png" width="70" height="70">
				
			</div>
			<div class="center" style="padding-top: 50px">
				<span class="white-text">Changes have been saved !!!</span>
			</div>
		</div>
		
	</body>
</html>