<html id="index" lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custom CSS-->
		<link rel="stylesheet" href="../style/style.css">

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">

		<title>Settings</title>
	</head>
<!--	<body>
		<div class="row" id="menuContainer" style="color:white; padding-right:20%; padding-left:20%;">
                <center><div id="logoThing"><h1>Andies Restraunt</h1></div></center>
		<center><div style="padding-top:35%;" id="btnSection">
				<div style = "color:orange";><a>Add table</a></div>
				<div><a>Edit table</a></div>
	         </div></center>
	         </div>
		 -->
		 <body>
		 <!--Card 1-->
		<div class="row">
			<h1 class="center white-text" style="margin-top: 5%;">Andies restraunt</h1>
	       	<div class="col s12 m6">
			<a class="white-text" href="addTable.html">
	          <div class="card orangeOpacity indexhover" style="padding-bottom: 5px" >
		      	<div class="card-content white-text indexhover">
		         <div class="card-action center indexhover" style="font-size: 50px;">
		         	  <span class="center indexhover">Edit Seats</span> 
		         </div>
		         </div>   
		      </div>
		        </a>
		       </div>
	    <!--Card 2-->
		<div class="row">
	       	<div class="col s12 m6">
			<a class="white-text" href="menu.html">
	          <div class="card orangeOpacity indexhover" style="padding-bottom: 5px" >
		      	<div class="card-content white-text indexhover">
		         <div class="card-action center indexhover" style="font-size: 50px;">
		         	  <span class="center indexhover">Edit Food</span> 
		         </div>
		         </div>   
		      </div>
		        </a>
		       </div>
	        </div>
		</body>
	    </div>
