<html lang = "en">
	<head>
		<!--JQUERY-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!--Custom Script-->
		<script type="text/javascript" src="../script/script.js"></script>

		<!--Custome CSS-->
		<style type="text/css" href="../style/style.css"></style>

		<!--favicon-->
		<link rel="icon"  type="image/png" href="../image/icon.png">
		
		<title>Fast Munch</title>
	</head>
	<body>
		<h1 class="center" style="margin-top: 20%;"> Fast Munch </h1>
	</body>
</html>